<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Folding@home Map</title>
  <link rel="stylesheet" href="./static/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/kartograph/kartograph.org/master/css/jquery.qtip.css">
  <script src="https://cdn.rawgit.com/kartograph/kartograph.org/master/js/jquery-1.10.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.1/basic/jquery.qtip.js"></script>
  <script src="https://cdn.rawgit.com/kartograph/kartograph.org/master/js/kartograph.js"></script>
  <script src="https://cdn.rawgit.com/kartograph/kartograph.org/master/js/raphael.min.js"></script>
</head>

<body>
  <%- body %>
</body>

</html>
