body {
  background-color: #f6f6f6 !important;
}

.map {
  width: 80%;
  height: 0;
  margin: 0 auto;
  padding-top: 35.6%;
  border: 5px solid #bbb;
  vertical-align: middle;
  margin-bottom: 1em;
  background-color: black !important;
  background-image: url('../svg/lonlat.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  width: 100%;
  height: 0;
  padding-top: 45%;
  margin-top: -45%;
  background-color: rgba(0, 0, 0, 0.6);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.form {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
